*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;
}
body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-family: 'Geologica', sans-serif;
    
  }

#header{   
    width: 100%;
    height: 1000px;
    padding: 45px;
    background-image: url(images/IMG_2269\ \(1\).jpg);
    background-size: contain;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.container1{
    padding: 10px 10%;
}

.container2{
    padding: 50px 10%;
    background-image: linear-gradient(to right, mediumslateblue, rgb(200, 104, 238));
    border-radius: 15px
}

.container3{
    padding: 50px
}

.wrapper{
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font-weight: normal;
vertical-align: baseline;
background: transparent;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
}

.logo{
    width: 140px;
}

ul{
    overflow: hidden;
    display: block;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: rgb(222, 124, 241);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;

}

#header-text{
    margin-top: 250px;
    margin-bottom: 20px;
    font-size: 30px;
}

#header-text h1{
    font-size: 60px;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(222, 124, 241), 0 0 5px darkblue;
}

#header-text h1 span{
    color:rgb(222, 124, 241);
}

/*------about----- */


#about{
    margin-top: 40px;
    padding: 80px 0;
    color:rgb(222, 124, 241);
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid #D41D86;
    background-image: radial-gradient(ellipse farthest-corner at 45px 45px, rgba(226, 104, 174, 0.1) 0%, rgba(212, 29, 134, 0.05));
}

.row2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 3px solid #D41D86;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}

.about-col-2{
    flex-basis: 60%;
    width: 50%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color:rgb(222, 124, 241);
    word-spacing: 100%;
}

.tab-titles{
    display: flex;
    margin:20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;

}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(222, 124, 241);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}

.tab-links.active-link::after{
    width: 50%;

}

.tab-contents ul li{
    margin: 5px 0;
    line-height: 17px;
}

.tab-contents ul li span{
    color: mediumslateblue;
    font-size: 20px;}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/*--myWork--*/


/*-----myPortfolio----*/

#portfolio{
    padding: 50px 0;

}
.port-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
} 
.port {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.port img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #fff);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #844d8f;
    text-decoration: none;
    font-size: 14px;
    line-height: 60px;
    background: #844d8f;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;

}

.port:hover img {
    transform: scale(1.1);

}
.port:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #844d8f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover{
    background: #844d8f;
}


/*-----myContact----*/

#contact{
    height: 90px;
    width: auto;

}



/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    background-color: #ccc;
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #b272be;
    padding: 20px;
    color: #080808;
    
  }

  .contact{
    border-radius: 5px;
    background-color: #b272be;
    padding: 20px;
    color: #080808;
    

  }
